.button
  a, span
    text-align center
    display block
    color #fff
    padding 10px 20px
    background-color #3b5b84
    border-radius 3px
    text-decoration none
    cursor pointer
    &:hover
      opacity .7
