.container
  margin 50 auto
  text-align left
  h2
    font-size 14px
    border-bottom 1px solid #fff
    margin-bottom 10px

.col_12 
  width 100%
  margin 20px 0
  
.col_3
  width calc(100% / 3)
  display inline-block

.col_4
  width calc(100% / 4)
  display inline-block
