.header
  h1
    text-transform uppercase

.form
  text-align left
  max-width 800px
  min-width 300px
  margin 0 auto
  padding 50px
  h2
    font-size 14px
    border-bottom 1px solid #fff
    margin-bottom 10px

  label
    min-width 20%
    display inline-block

  input, select
    width 80%
    padding 10px 15px
    border-radius 3px
    outline none
    border none
  
  select
    height 34px

  button
    padding 10px 20px
    border-radius 3px
    margin-left 10px
    background-color #efefef
    border none
    cursor pointer
    float right
    &:hover
      opacity .7

.field
  margin 10px 0
  position relative

.error
  right 15px
  color #f00
  position absolute
  font-size 10px
  margin-top -24px
