.container
  width 100%
  padding 50px
  text-align center
  h1
    color #fff
    text-transform uppercase
    margin-bottom 20px

.list
  margin 0 auto

.notfound
  margin 10px auto

.buttonContainer
  margin 30px 0
