// import block
@import '~_app/assets/stylesheets/prepare/reset.styl'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,700&subset=latin,cyrillic-ext')

*
  margin 0
  padding 0
  box-sizing border-box
  font-weight normal
  font-family 'Open Sans', sans-serif
    
html
  font-size 14px
  background #efefef

body
  line-height 1.5
  color #ffff
  background-color #313543

html, body, #slides
  width 100%
  height 100%
